/* Gallery Section */
.gallery-section {
    width: 100%;
    margin-top: 30px;
}

.gallery-section h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #2d3142;
}

/* Gallery Images */
.gallery-images {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    padding-bottom: 20px;
    white-space: nowrap;
}

.gallery-images img {
    width: 250px;
    height: 187.5px;
    object-fit: cover;
    margin: 0 10px;
    transition: transform 0.5s ease-in-out;
}

/* LinkedIn Icon Image Size */
.linkedin-icon {
    width: 18px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0;
    }

    .gallery-images img {
        width: 200px;
    }
}
